/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(128, 128, 128);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 15rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title1 {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.3);
}


/* BUTTONS */

button{
  width:200px;
  height:70px;
  background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
  border-style: none;
  color:#fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'Lato';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
  position: absolute;
  display: block;
}
button span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
button span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}
button span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

button span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

button:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
  animation-play-state: paused;
}


/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  border-radius: 1rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#resumen {
  margin-bottom: 100px; /* ajusta este valor según sea necesario */
}
.resumen{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #BDBAAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  padding: 140px 0 100px 0;
  text-align: center;
  border:5px;
  
}
.resumen .contenido-seccion{
  

  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
  
}
.resumen .contenido-seccion h3{
  text-transform: uppercase;
  font-size: 30px;
  color:#FF0000;
}
.resumen .contenido-seccion .info{
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.resumen .contenido-seccion .info .col{
  width: 45%;
}
.resumen .contenido-seccion .info .col .titulo{
  display: inline-block;
  font-style: oblique;
  font-weight: bold;
  border: 4px solid #FF0000;
  border-radius: 7px;
  padding: 10px;

}
.resumen .contenido-seccion .info .col table{
  margin-top: 30px;
  border-collapse: collapse;
}
.resumen .contenido-seccion .info .col table .datos{
  width: 40%;
  border-bottom: 1px solid #bab9b9;
}
.resumen .contenido-seccion .info .col table h4{
  margin-top: 10px;
}
.resumen .contenido-seccion .info .col table h3{
  font-size: 20px;
  margin-bottom: 5px;
}
.resumen .contenido-seccion .info .col table p{
  font-size: 14px;
}
.resumen .contenido-seccion .info .col table .promedio{
  display: block;
  color: #FF0000;
  margin-top: 10px;
  font-weight: bold;
}
.resumen .contenido-seccion .info .col table .descripcion{
  border-left: 1px solid #bab9b9;
  padding-left: 20px;
}


.info{
height: 500px; /* Altura fija del contenedor, ajusta según sea necesario */
overflow-y: scroll; 
}
.col {
  flex: 1;
  margin-right: 20px; /* Espacio entre las columnas, ajusta según sea necesario */
}

/* SECCION RESPONSIVE */
@media screen and (max-width:800px){
  .habilidades .contenido-seccion .fila{
      display: block;
  }
  .habilidades .contenido-seccion .fila .col{
      width: 100%;
      text-align: center;
  }
  .habilidades .contenido-seccion .fila .col .cont-barra{
      justify-content: center;
  }
  .sobremi .contenido-seccion .fila{
      display: block;
  }
  .sobremi .contenido-seccion .fila .col{
      width: 80%;
      margin: auto;
      margin-top: 20px;
  }
  .resumen .contenido-seccion .info{
      display: block;
  }
  .resumen .contenido-seccion .info .col{
      width: 90%;
      margin: auto;
  }
  .resumen .contenido-seccion .info .col .titulo{
      display: block;
      text-align: center;
  }
  .resumen .contenido-seccion .info .col table{
      margin-top: 10px;
      margin-bottom: 30px;
  }
  
}

/* CONTACT */





ul {
  list-style-type: none; /* Elimina los puntos */
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px; /* Añade un poco de espacio entre cada elemento */
}



/* reproductor */


.holder {
  margin: 0.23rem 0 0.23rem 0;
  display: flex;
  align-items: center;
}

.shadow {
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.22);
}

/* Important stuff */

.set {
  position: absolute;
  right: 1em;
  top: 0;
  z-index: 999;
}

.dropdown-toggle {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.dropdown-toggle i {
  padding: 0.5em 0.55em;
  background: #fff;
  border-radius: 4px;
  color: #555;
}

#skin.dark {
  background: #334d50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cbcaa5, #334d50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff!important;
  border-color: #fff!important;
}

#skin.white {
  background: white;
}

#skin.blue {
  background: linear-gradient(126deg, rgba(43, 57, 144, 1), rgba(102, 45, 145, 0.9));
}

ul.dropdown {
  display: none;
  position: absolute;
  left: 25%;
  width: 50%;
  margin-top: 0.5em;
  margin: 0.5em auto;
  background: #777;
  min-width: 12em;
  padding: 0;
  border-radius: 0 0 0.2em 0.2em;
}

ul.dropdown li {
  list-style-type: none;
}

ul.dropdown li a {
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
}

.audio-player {
  position: relative;
  border: 1px solid #dfdfdf;
  width: 50vw;
  margin: 1rem auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.32);
  background: #fff;
  padding: 1rem;
  height: auto;
}

.audio-player .user_avatar {
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
}

.audio-player .user_avatar .live,
.audio-player .user_avatar .listeners {
  background: #fff;
  padding: 8px 10px 0 10px;
  font-size: 15px;
  font-weight: 700;
  color: #555 !important;
  border-radius: 4px;
  margin: 3px;
  text-align: center;
}

.live i {
  -moz-animation-duration: 1s;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: red;
}

@-moz-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.audio-player .user_avatar img {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  padding: 0.65em;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background: #fff;
  margin-top: -4em;
}

#dur:hover {
  cursor: pointer;
}

.audio-player .cover img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.audio-player .title {
  padding: 0;
  margin-top: 2.5rem;
  font-weight: 800;
  font-size: 28px;
}

.audio-player .like {
  padding: 6px 17px;
  background: #fff;
  font-size: 16px;
  color: #555;
  margin: 1rem 0;
  font-weight: 900;
  text-decoration: none;
  position: relative;
}

.audio-player .player-controls {
  align-items: center;
  justify-content: center;
  flex: 4;
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
}

.audio-player .player-controls p {
  color: #000;
}

.progress_bar {
  border: 2px solid #ccc;
  width: 100%;
  min-height: 15px;
  display: flex;
  padding: 0.45em 0;
  align-items: center;
}

.range {
  position: relative;
}

.range input[type=range] {
  appearance: none;
  padding: 0;
  width: 100%;
  height: 22px;
  cursor: pointer;
  display: block;
}

.range input[type=range]:focus {
  outline: none;
}

.range input[type=range][disabled] {
  opacity: 0.3;
  cursor: default;
  background: transparent;
}

.range .rangeslider {
  position: relative;
  height: 22px;
  cursor: pointer;
  user-select: none;
}

.range .rangeslider:before {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.range input::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  margin: 11px 0;
}

.range input::-moz-range-track {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  margin: 11px 0;
}

.range input::-ms-track {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  color: transparent;
  padding: 11px 0;
  background: transparent;
  border-color: transparent;
}

.range input::-ms-fill-lower,
.range input::-ms-fill-upper {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
}

.range input::-ms-fill-lower {
  background: #60cd18;
}

.range .rangeslider-fill-lower {
  background-color: #60cd18;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  will-change: width;
}

.range input::-webkit-slider-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, .5);
  border: 6px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
  appearance: none;
  transform: translateY(-50%);
  margin-top: 2px;
}

.range input::-moz-range-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, .5);
  border: 6px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
}

.range input::-ms-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, .5);
  border: 6px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
}

.range .rangeslider-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, .5);
  border: 6px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #333940;
  cursor: pointer;
  position: absolute;
  touch-action: pan-x;
  top: 50%;
  transform: translateY(-50%);
  will-change: left;
}

.audio-player #play-btn,
.ctrl_btn {
  margin: 0 1rem 2rem 0;
  color: #363732;
}

.audio-player #play-btn {
  padding: 1rem 1.2rem;
  font-size: 24px;
}

.audio-player .ctrl_btn {
  font-size: 22px;
}

.audio-player #play-btn:hover {
  cursor: pointer;
}

.audio-player .volumeControl {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.audio-player .volumeControl .wrapper {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #363732;
}

.audio-player .volumeControl .wrapper:hover i.fa {
  color: #363732;
}

.audio-player .volumeControl .outer {
  border-radius: 2px;
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  height: 0.3rem;
  flex-basis: 80%;
  margin-left: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.audio-player .volumeControl .outer .inner {
  background-color: #363732;
  width: 100%;
  display: inline-block;
  height: 100%;
}

.audio-player .volumeControl .outer:hover {
  cursor: pointer;
}

.start-time,
.end-time {
  font-size: 14px;
  font-weight: 800;
  font-family: 'Darker Grotesque', sans-serif;
  transition: 1s ease-in-out;
  line-height: 0;
}

.start-time {
  float: left;
  position: relative;
  left: 0;
}

.end-time {
  float: right;
  position: relative;
  right: 0;
}

.ctrl {
  display: flex;
  justify-content: space-between;
}

.action {
  margin: 1rem auto;
  text-align: left;
}

.action span {
  font-size: 14px;
  font-family: 'Darker Grotesque', sans-serif;
}

@media screen and (max-width: 950px) {
  ul.dropdown {
    right: 20%;
    left: unset;
  }
  .holder {
    display: block;
    justify-content: all;
    align-items: all;
  }
  .audio-player {
    width: 80%;
    padding: 1rem 1rem;
  }
  .audio-player .cover img {
    height: 100%;
    width: 80%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  .audio-player .player-controls {
    position: relative;
    padding: 0 0;
    margin: 0 auto;
  }
  .audio-player #play-btn,
  .ctrl_btn {
    margin: 15px 6px;
  }
  .audio-player .volumeControl,
  .audio-player .volumeControl .wrapper {
    display: block;
  }
  .audio-player .volumeControl .wrapper .fa-volume-up {
    margin: 10px;
    opacity: 0.6;
  }
  .audio-player .title {
    text-align: center;
  }
  .start-time {
    left: 0.85em;
  }
  .end-time {
    right: 1em;
  }
  .ctrl,
  .action {
    display: block;
    text-align: center;
  }
  .action a {
    display: block;
  }
  .set {
    position: relative;
  }
  .audio-player .user_avatar {
    margin: 0 0 1em 0;
    display: flex;
    justify-content: space-around;
  }
  .audio-player .user_avatar img {
    display: none;
}
}

#form {
  width: 100%;
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; /* Espacio entre elementos */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px; /* Altura del área de texto */
}

#submit {
  width: 100%;
  padding: 10px;
  background-color: #FF040F; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submit:hover {
  background-color: #aa3045; /* Color de fondo del botón al pasar el ratón */
}
